{% include 'header' %}

<section class="tech" id="import-app">
	<div class="tech__wrapper">
		<div class="tech-select">
			<div class="tech-select__label">Выберите город</div>
			<select v-model="importData.city" @change="cityChange">
				<option v-for="item in citiesData" :key="item.city" :value="item">{{ item.city }}</option>
			</select>
		</div>
		<div v-if="importData.city" class="tech-select">
			<div class="tech-select__label">Выберите тип объекта</div>
			<select v-model="importData.objType">
				<option v-for="item in importData.city.cat" :key="item.id" :value="item">{{ catsVoc[item.layout_id].name }}</option>
			</select>
		</div>
		<div class="tech-select">
			<div class="tech-select__label">Введите заголовок</div>
			<input type="text" v-model="importData.title">
		</div>
		<div class="tech-select">
			<div class="tech-select__label">Количество картинок галереи</div>
			<input type="number" min="0" v-model.number="importData.galSize">
		</div>
		<hr>
		<div v-if="importData.objType" class="">
			<ul>
				<li>ID родительской страницы (parent_page_id): {{importData.objType.id }}</li>
				<li>ID макета объекта (layout_id): {{ catsVoc[importData.objType.layout_id].content_id }}</li>
				<li>Заголовок (title): {{ importData.title }}</li>
				<li>Алиас (alias): {{translitedTitle}}</li>
				<li>Основное изображение (field_image): {{imgPath + '-' + Date.now().toString().slice(-4) }}.jpg</li>
				<li>Галерея (field_gallery_arr): 
					<ol>
						<li v-for="i in importData.galSize">
							{{imgPath + '-' + (Number(Date.now().toString().slice(-4)) + i + 1) }}.jpg
						</li>
						<li>
							"<template v-for="i in importData.galSize">
								{{ imgPath + '-' + (Number(Date.now().toString().slice(-4)) + i + 1) + '.jpg,' }}
							</template>"
						</li>
					</ol>
				</li>
				<li>grid: 0</li>
				<li>order: 0</li>
				<li>active: 1</li>
			</ul>
		</div>
	</div>
</section>


{% include 'footer' %}

<script src="/site/theme/js/import.js"></script>