{% extends '_.admin.base' %}

{% block content %}

	<div class="row" ng-controller="NetShaperAdminFilesController">

		<div class="col-sm-4" ng-repeat="type in types">

			<h4>

				<span class="pull-left" ng-bind="type.name"></span>

				<div class="pull-left file-add">
					<a
						class="text-success"
						ng-href="{{ url.admin }}/{{ type.alias }}/create"
						ng-show="['images', 'documents'].indexOf(type.alias) < 0"
					>
						<span class="fa fa-plus"></span>
					</a>
					<a
						class="text-success"
						href="#"
						ng-show="type.alias === 'images'"
						ns-upload="{{ url.admin }}/upload_theme_images"
						on-complete="onComplete(type, response)"
						on-submit="onSubmit(type)"
					>
						<span class="fa fa-plus"></span>
					</a>
					<a
						class="text-success"
						href="#"
						ng-show="type.alias === 'documents'"
						ns-upload="{{ url.admin }}/upload_documents"
						on-complete="onComplete(type, response)"
						on-submit="onSubmit(type)"
					>
						<span class="fa fa-plus"></span>
					</a>
				</div>

				<div class="clearfix"></div>

			</h4>

			<ul class="nav nav-pills nav-stacked files">
				<li ng-repeat="file in type.files">
					<a ng-href="{{ url.admin }}/{{ type.alias }}/{{ file.id }}/edit">
						<span class="preview" ng-show="type.alias === 'images'">
							<img class="inner-width" ng-src="/site/theme/images/{{ file.id }}">
						</span>
						<span ng-bind="file.id"></span>
					</a>
				</li>
			</ul>

		</div>

	</div>

{% endblock %}
